<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1053357446219-cpihlss64d8srp9fpj7aicg5chk1r7l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053357446219-cpihlss64d8srp9fpj7aicg5chk1r7l9</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQLaCqXH5-STNXiqOGcqE2rLJRsXLq8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1053357446219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adas.hellostorage</string>
	<key>PROJECT_ID</key>
	<string>fir-iosstoragetutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-iosstoragetutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053357446219:ios:fb9990fbf69435cb</string>
	<key>DATABASE_URL</key>
	<string>https://fir-iosstoragetutorial.firebaseio.com</string>
</dict>
</plist>